@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "./settings.scss";

body {
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  font-family: "Ubuntu", sans-serif;
  font-size: $font-size;
}

#app {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
}

button {
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
  font-size: $font-size;
  transition: 0.3s;

  &.primary {
    border: solid 2px $purple-3;
    background-color: $purple-2;
    padding: 5px 10px;
    border-radius: 5px;

    &:hover {
      transform: translateY(3px);
    }
  }

  &.mini {
    border: solid 2px $purple-3;
    background-color: $purple-2;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: calc(#{$font-size} * 0.6);
  }
}

.action-container {
  padding: 30px;
  border: solid 3px $purple-4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;

  h1,
  h2 {
    padding: 0px;
    margin: 5px;
  }

  textarea {
    width: 90%;
    height: 80px;
    padding: 5px;
    margin: 5px;
    border: dashed 2px $purple-2;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;

    &:focus {
      border: solid 2px $purple-3;
    }
  }

  p {
    margin: 5px;
    padding: 5px;
    word-break: break-all;
  }

  label {
    width: 90%;
  }

  input {
    padding: 5px;
    margin: 5px;
    border: dashed 2px $purple-2;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;

    &:focus {
      border: solid 2px $purple-3;
    }
  }
}
